 *{
    margin: 0px ;
    padding: 0px;
    box-sizing : border-box;
font-family : sans-serif;
}
body{
  
     background: dodgerblue;
   }
  .box9{
    width: 100%;
    height: auto;
 display:flex;
 margin: 12px;
 

 font-size: 70%;
  } 

  .box{
    width: 200px;
    height: 200px;
    background:linear-gradient(red,blue);
    color:black;
    margin: 12px;
    border-radius: 12%;
    text-align: center;
 }
 .box:hover{
    background:linear-gradient(yellow,green);
    color:black;
 }
.vip{
   font-size: 150%;
   font-family: 'Courier New', Courier, monospace;

}