/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(245, 247, 247);
}
.box{
    width: 260px;
    height: 300px;
    border:5px solid rgb(129, 129, 225) ;
    margin: 20px 25px;
    display: inline-block;
    border-radius: 20%;
box-shadow: 5px 5px #000;
animation: initial;
 

}
h2{
    text-align-last: center;
    
    height: 260px;
    margin:5px;
    padding:8px ;
    width: 230px;
    font-size:30px ;
    font-family:sans-serif ;
  justify-content: left;

    

}
.b1:hover{
background: green;
height: 330px; 
color: green; 

}
.b2:hover{
    background: blue;
    height: 330px;
    color: blue;
}
.b3:hover{
    background: red;
    height: 330px;
    color: red;
    
}

h2:hover{
    height: 280px;
    animation: alternate-reverse;
}
.a:linked{
color: black;
}
img{
    height: 200px;
    width: 250px;
}
.img2{

    height: 280px;
    width: 230px;
} */
.parent {
    width: 500px;
    margin: 0px auto;
    text-align: center;
  }
  
  .box {
    min-height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
  }
  
  .box:hover {
    color: white;
    background-color: black;
  }
  
  .box1 {
    background-color: beige;
    border-color: beige;
  }
  
  .box2 {
    background-color: chocolate;
    border-color: chocolate;
  }
  
  .box3 {
    background-color: brown;
    border-color: brown;
  }
  
  .icon_box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 8px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    font-family: 'Rubik Maps', system-ui;
    }
  
  .tiktok:hover {
    color: #fff;
    background-color: black;
    border-color: black;
  }
  
  .github:hover {
    color: #fff;
    background-color: purple;
    border-color: purple;
  
  }
  
  .youtube:hover {
    color: #fff;
    background-color: red;
    border-color: red;
  
  }
  
  h4 {
    margin: 0px;
    margin-top: 4px;
  }
  
  i {
    font-size: 50px;
    text-align: center;
    margin-top: 13px
  }