.box{
    height: 150px;
width: 100px;
border: 3px solid #000;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG4sh8BeTIdoduUM7c1JdkRtX6L1A_cRWYYg&usqp=CAU);
/* background-position: 1%; */
background-size:100px 3cm;
background-repeat:no-repeat;
margin: 0 auto;



}
.box1{
 height: 30px;
 width:100px;
 border:2px solid #000;
 margin-top: 3.1cm;
}
.box2{
 height: 20px;
 width:100px;
 border:2px solid #000; ;
}
.box3{
 height: 10px;
 width:100px;
 border:2px solid #000; ;
}
body{
    margin-top: 1cm;
}